<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Object Detection YOLO</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="{{ url_for('index') }}">Object Detection</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0" >
                <div class="input-group" >
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button" ><i class="fas fa-search" style="color: purple;"></i></button>
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw" style="color: purple;"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">Settings</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('profile') }}">Profile</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading" style="color: white;">Core</div>
                            <a class="nav-link" href="{{ url_for('index') }}">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt" style="color: purple;"></i></div>
                                Dashboard
                            </a>
                            <div class="sb-sidenav-menu-heading" style="color: white;">Interface</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open" style="color: orange;"></i></div>
                                Pages
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                        Authentication
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                                            <a class="nav-link" href="{{ url_for('register') }}">Register</a>
                                            <a class="nav-link" href="password.html">Forgot Password</a>
                                        </nav>
                                    </div>
                                    
                                </nav>
                            </div>
                            <div class="sb-sidenav-menu-heading" style="color: white;">Addons</div>
                            <a class="nav-link" href="charts.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area" style="color: purple;"></i></div>
                                Charts
                            </a>
                            <a class="nav-link" href="{{ url_for('tables') }}">
                                <div class="sb-nav-link-icon"><i class="fas fa-table" style="color: orange;"></i></div>
                                Tables
                            </a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer" style="color: orange;">
                        ONCF
                    </div>
                </nav>
            </div>
            

            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Object Detection using YOLO</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol> 
                        <div class="row">
                            <div class="col-xl-6 ">
                                <div class="card mb-4 custom-orange-bg">
                                    <div class="card-header">
                                        <i class="fas fa-chart-area me-1"></i>
                                        PPE Detection Chart
                                    </div>
                                    <div class="card-body">
                                        <img src="{{ url_for('static', filename='Charts/results_ppe.png') }}" alt="Result PPE Image" width="450" height="250">
                                    </div>
                                </div>
                            </div> 
                            <div class="col-xl-6 ">
                                <div class="card mb-4 custom-orange-bg">
                                    <div class="card-header">
                                        <i class="fas fa-chart-area me-1"></i>
                                        Plate Number Detection Chart
                                    </div>
                                    <div class="card-body">
                                        <img src="{{ url_for('static', filename='Charts/results_plate.png') }}" alt="Result Plate Image" width="450" height="250">
                                    </div>
                                </div>
                            </div> 
                        </div> 
                        <div class="row">                          
                            <div class="col-xl-6">
                                <div class="card mb-4 custom-purple-bg">
                                    <div class="card-header">
                                        <i class="fas fa-chart-bar me-1"></i>
                                        Forklift Detection Chart
                                    </div>
                                    <div class="card-body"><img src="{{ url_for('static', filename='Charts/results_forklift.png') }}" alt="Result Forklift Image" width="450" height="250"></div>
                                </div>
                            </div>
                        
                            <div class="col-xl-6 ">
                                <div class="card mb-4 custom-purple-bg">
                                    <div class="card-header">
                                        <i class="fas fa-chart-area me-1"></i>
                                        TrainCars Detection Chart
                                    </div>
                                    <div class="card-body">
                                        <img src="{{ url_for('static', filename='Charts/results_traincars.png') }}" alt="Result TrainCars Image" width="450" height="250">
                                    </div>
                                </div>
                            </div>  
                        </div> 
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card mb-4 custom-orange-bg">
                                    <div class="card-header">
                                        <i class="fas fa-chart-bar me-1"></i>
                                        Carre Detection Chart
                                    </div>
                                    <div class="card-body"><img src="{{ url_for('static', filename='Charts/results_carre.png') }}" alt="Result Carre Image" width="450" height="250"></div>
                                </div>
                            </div>
                        </div> 
                        
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="card mb-4 custom-purple-bg">
                                        <div class="card-header">
                                            <i class="fas fa-chart-area me-1"></i>
                                            Object Detection
                                        </div>
                                        <div class="card-body d-flex flex-column align-items-center">
                                            <form action="/" method="post" enctype="multipart/form-data">
                                                <label for="model">
                                                    <select name="model" id="model" required>
                                                        <option value="Ppe Detection">PPE Detection</option>
                                                        <option value="Plate Number Detection">Plate Number Detection</option>
                                                        <option value="Forklift Detection">Forklift Detection</option>
                                                        <option value="TrainCars Detection">TrainCars Detection</option>
                                                        <option value="Carre Detection">Carre Detection</option>
                                                    </select>
                                                </label>
                                                <div style="margin-top: 10px;"></div>
                                                <button type="submit" class="btn btn-primary" name="start_detection">Start Webcam Detection</button>
                                                <button type="submit" class="btn btn-danger" name="stop_detection">Stop Webcam Detection</button>
                                            </form>
                                            
                                        </div>
                                    </div>
                                </div>                                                                
                                
                                <div class="col-xl-6">
                                    <div class="card mb-4 custom-purple-bg">
                                        <div class="card-header">
                                            <i class="fas fa-chart-bar me-1"></i>
                                            Object Detection Results
                                        </div>
                                        <div class="card-body">
                                            <canvas id="myBarChart" width="100%" height="40"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div style="display: flex; justify-content: space-between;">
                                <!-- Tableau des Alertes -->
                                <div class="card mb-4" style="background-color: #808080; flex: 1;">
                                    <div class="card-header">
                                        <i class="fas fa-table me-1"></i>
                                        Alertes
                                    </div>
                                    <div class="card-body">
                                        <table id="datatablesAlertes" style="background-color: #948f8f;">
                                            <thead>
                                                <tr>
                                                    <th>AlerteDescription</th>
                                                    <th>Date</th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th>AlerteDescription</th>
                                                    <th>Date</th>
                                                </tr>
                                            </tfoot>
                                            <tbody>
                                                {% for alerte in alertes %}
                                                    <tr>
                                                        <td>{{ alerte.alertedescription }}</td>
                                                        <td>{{ alerte.timestamp }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            
                                <!-- Tableau des Infos -->
                                <div class="card mb-4" style="background-color: #808080; flex: 1;">
                                    <div class="card-header">
                                        <i class="fas fa-info-circle me-1"></i>
                                        Informations
                                    </div>
                                    <div class="card-body">
                                        <table id="datatablesInfos" style="background-color: #948f8f;">
                                            <thead>
                                                <tr>
                                                    <th>InfoDescription</th>
                                                    <th>Date</th> <!-- Nouvelle colonne pour la date -->
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th>InfoDescription</th>
                                                    <th>Date</th> <!-- Nouvelle colonne pour la date -->
                                                </tr>
                                            </tfoot>
                                            <tbody>
                                                {% for info in infos %}
                                                <tr>
                                                    <td>{{ info.infodescription }}</td>
                                                    <td>{{ info.timestamp }}</td> <!-- Afficher la date ici -->
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>                                
                            </div>                                                        
                    </div>
                </main>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/datatables-simple-demo.js') }}"></script>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        

          

    </body>
</html>